<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Character Name</label>
    <input type="text" id="name" name="name" class="form-control" ngModel required #nameCtrl="ngModel">
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a correct name!</span>
  </div>
  <div class="form-group">
    <label for="side">Choose Side</label>
    <select name="side" id="side" class="form-control" ngModel>
      <option *ngFor="let side of availableSides" [value]="side.value">{{ side.display }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add</button>
</form>